@model OnlineMovieTicketBooking.Models.ViewModels.BookNowViewModel

@{
    ViewData["Title"] = "BookNow";
}

<h1>BookNow</h1>

<a asp-action="Index" asp-controller="Cart">Check To Cart</a> |
<a asp-action="OrderDetails" asp-controller="Cart">Your Order Details</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookNow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie_Name" class="control-label"></label>
                <br />
                <strong>@Model.Movie_Name</strong>
                <span asp-validation-for="Movie_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie_Date" class="control-label"></label>
                <br />
                <strong>@Model.Movie_Date</strong>
                <span asp-validation-for="Movie_Date" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="SeatNo" class="control-label"></label><br />
                <select asp-for="SeatNo">
                    @foreach(string seat in ViewBag.Seat)
                    {
                        <option value="@seat">@seat</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label hidden asp-for="MovieId" class="control-label"></label>
                <input type="hidden" asp-for="MovieId" class="form-control" />
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add To Cart" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <strong>@TempData["Success"]</strong> <br />
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
