@model IEnumerable<OnlineMovieTicketBooking.Models.MovieDetails>

@{
    ViewData["Title"] = "Movie Details";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoviePicture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                <img src="@item.MoviePicture" width="100" height="100" asp-append-version="true" />
            </td>
            <td>
                <a asp-action="BookNow" asp-route-id="@item.Id">Book Your Ticket</a> |
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                        <a asp-action = "Delete" asp-route-id = "@item.Id" > Delete </a>
}
                }

            </td>
        </tr>
}
    </tbody>
</table>
