@model IEnumerable<OnlineMovieTicketBooking.Models.Cart>

@{
    ViewData["Title"] = "Proceed";
}

<h1>proceed</h1>
<form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeatNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieId)
            </td>
            
        </tr>
}
    </tbody>
</table>
<div>
    <strong>Total = @Model.Sum(i => i.Amount) Rs.</strong>
</div>
<br />
<input type="submit" value="Book Ticket" asp-controller="Cart" asp-action="BookTicket" />
</form>